/* ----------------------------------------------- */
/* BASIC SETUP */
/* ----------------------------------------------- */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box !important;
}

html{
    background-color: #fff;
    color: #555;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}

/* ----------------------------------------------- */
/* REUSABLE COMPONENTS*/
/* ----------------------------------------------- */


/* HEADINGS*/
h1{
    margin-top: 0;
    margin-bottom: 20px;
    color: white;
    font-size: 2.4em;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
    word-spacing: 4px;
}

/* BUTTONS*/
.btn{
     display: inline-block;
     padding: 10px 30px;
     font-weight: 300;
     text-decoration: none;
     border-radius: 200px;
}

.btn-full{
    background-color: #e67e22;
    border: 1px #e67e22;
    margin-right: 20px;
    color: white;
    margin-bottom: 15px;
}

.btn-full:hover{
    background-color: #c46a1c;
    transition: 400ms;
}

.btn-ghost{
    border: 1px solid #c46a1c;
    color:white;
}
.btn-ghost:hover{
    background-color: #c46a1c;
    transition: background-color 400ms;
}

.btn-ghost:active{
    color: #c46a1c;
    background-color: white;
    transition: 400ms;
}

.btn-full:active{
    color: #c46a1c;
    background-color: white;
    transition: 400ms, ;
}

/* ----------------------------------------------- */
/* HEADER */
/* ----------------------------------------------- */
header{
    background-image: linear-gradient(rgba(0, 0, 0, 0.705), rgba(0, 0, 0, 0.705)), url(img/hero.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
    margin-bottom: 100px;

}

.hero-text-box{
    max-width: 100%;
    width: 1140px;
    position: absolute;
    left: 50%;
    top:35%;
    transform: translate(-50%,-50%);
    
    
}

.row{
    margin: 0 auto 0 auto;
    max-width: 1140px;
    position: relative;
}


.logo{
    height: 100px;
    width: auto;
    margin-top: 20px;
    

}

.main-nav{
    list-style: none;
    margin-top: 55px;
    margin-left: 40px;
}

.main-nav li{
    display: inline;
    margin-right: 40px;
}


.main-nav li a:link,
.main-nav li a:visited {
    text-decoration: none;
    color: white;
    font-size: 90%;
    padding-bottom: 8px;
    padding-top: 8px;

    border-bottom: 2px solid transparent;
    transition: border-bottom 200ms;
}

.main-nav li a:hover,
.main-nav li a:active {
    border-bottom: 2px solid #e67e22;
    transition: 700ms;
}


h2{
    margin-bottom: 20px;
    font-size: 2em;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
    word-spacing: 4px;
    text-align: center;  
    
}

h2::after{
    display: block;
    height: 2px;
    background-color: #e67e22;
    content: " ";
    width: 100px;
    margin: 0 auto;
    margin-top: 30px;
}

.section-features{
    margin-bottom: 50px;
}

.section-features .row .long-copy{
    text-align: center;
    width: 70%;
    margin: 0 auto 40px auto;

}

.section-features .row p{
    text-align: left;
    line-height: 140%;
    margin: 20px;
}


h3{

    font-size: 1em;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
    word-spacing: 4px;

}

.section-cities h3{
    margin: 15px 0;
}
.section-features h3{
    text-align: center; 
    margin: 20px;
}

.icons{
    width: 20%;
    filter: invert(54%) sepia(53%) saturate(2594%) hue-rotate(355deg) brightness(101%) contrast(80%);
    display: block;
    margin: auto;
}


.fav-meal{
    padding:0;
    display: inline-block;
}

.fav-meal ul{
    width: 100%;
    list-style: none;
}

.fav-meal ul li{
    display: block;
    float: left;
    width: 25%;
}

.fav-meal figure{
    width: 100%;
    margin: 0;
    overflow: hidden;
    background-color: black;
}

.fav-meal figure img{
    width: 100%;
    height: auto;
    transform: scale(1.15);
    opacity: 0.7;

}
.fav-meal img:hover{
    transition: 500ms;
    transform: scale(1.05);
    opacity: 1;
}


/* ----------------------------------------------- */
/* HOW IT WORKS*/
/* ----------------------------------------------- */

.section-steps{
    background-color: rgba(226, 226, 226, 0.342);
    padding-top: 100px;
    margin-bottom: 100px;
}

.app-screen{
    width: 50%;
    margin-left: 30%;
    margin-top: 15%;
    
}



.app-content{
    width: 65%;
    margin-right: 30%;
    margin-top: 15%;    
}

.work-steps{
    margin-bottom: 50px;
    width: 100%;
}

.app-content .work-steps div{
    color: #e67e22;
    border: 2px solid #e67e22;
    border-radius: 50%;

    width: 50px;
    height: 50px;
    text-align: center;
    padding: 5px;
    float: left;
    font-size: 150%;
    margin-right: 10px;
    
}

.btn-app img{
    height: 50px;
    width: auto;
    margin-right: 10px;
}

.nesto:last-child{
    margin-top: 100px;
    margin-bottom: 100px;
}


/* ----------------------------------------------- */
/* section-CITIES*/
/* ----------------------------------------------- */

.section-cities{
    width: 100%;
    margin-bottom: 100px;
}
.section-cities img{
    width: 100%;
    height: auto;
}


.span-1-of-4:first-child{
    margin-left: 0 !important;
}

.data-city .icons-small{
    width: 10%;
    filter: invert(54%) sepia(53%) saturate(2594%) hue-rotate(355deg) brightness(101%) contrast(80%);
    display: block;
    margin-right: 2%;
}

.data-city img{
    float:left;
}
.data-city{
    display: inline-block;
}

.data-city a{
    color: #e67e22;
}

.data-city a:hover{
    color: #c46a1c;
    background-color: #c46a1c57;
    transition: background-color 400ms;
}


/* ----------------------------------------------- */
/* section-comments*/
/* ----------------------------------------------- */
.section-coments{
    margin: 100px 0;
    color: white;
    font-style: italic;
}

.comment{
    height: 200px;
    display: inline-block;
}

.section-coments .slika-pizze{
    background-image: linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.85)), url(img/back-customers.jpg);
    
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;  
    
    padding: 100px 0;
}

.navodnici{
    font-size: 4em;
}

.user-info img{
    float: left;
    border-radius: 50%;
    width: 25%;    
}
.user-info p{
    padding: 0 15px;
    float:right;
    
}
.user-info{
    display: flex;
    align-items: center;
}